.float {
    margin: 10px;
    float: right;
    height: 150px;
  }

  
  div {
    border: 1px solid black;
  }

.clearfix::after {
  clear: both; /* right . left . both */
  content: " "; /* insert content into html file*/
  display: table; /* set display type*/
}